<p id="notice"><%= notice %></p>

<h1>Incidents</h1>

<table>
  <thead>
    <tr>
      <th>Issue</th>
      <th>Solution</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @incidents.each do |incident| %>
      <tr>
        <td><%= incident.issue %></td>
        <td><%= incident.solution %></td>
        <td><%= link_to 'Show', [incident.system, incident] %></td>
        <td><%= link_to 'Edit', edit_system_incident_path(incident.system, incident) %></td>
        <td><%= link_to 'Destroy', [incident.system, incident], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Incident', new_system_incident_path(params[:system_id]) %>
