<p id="notice"><%= notice %></p>

<p>
  <strong>Issue:</strong>
  <%= @incident.issue %>
</p>

<p>
  <strong>Solution:</strong>
  <%= @incident.solution %>
</p>

<%= link_to 'Edit', edit_incident_path(@incident) %> |
<%= link_to 'Back', incidents_path %>
