<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_system_incident_path(@incident.system, @incident) %> |
<%= link_to 'Back', system_incidents_path(@incident.system) %>

<p>
  <strong>Issue:</strong>
  <%= @incident.issue %>
</p>

<p>
  <strong>Solution:</strong>
  <%= @incident.solution %>
</p>

<% if @incident.solve.attached? %>
  <iframe src="<%=(url_for(@incident.solve))%>">
<% end %>



