<%= form_with(model: system, local: true) do |form| %>
  <% if system.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% system.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
<br>
  <div class="actions" >
    <%= form.submit  %>
    <br>
  </div>
<% end %>
