<!DOCTYPE html>
<html>
  <head>
    <title>Kb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <body class="<%= controller_name %> <%= action_name %>">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <%if(user_signed_in? )%> 
    <label class = "navbar-item mx-auto order-0"> Welcome <%= current_user.name   %></label>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
       <%= link_to "|   Sign out  |", destroy_user_session_path, method: :delete , :class=> "text-light "%>  | 
      </li>
      <li class="nav-item">
           <%= link_to "|  My account  |", edit_user_registration_path, :class=> "text-light " %>
      </li>
    </ul>
    <%end %>
        <%if(admin_signed_in? )%> 
    <label class = "navbar-item mx-auto order-0"> Welcome <%= current_admin.name   %></label>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
       <%= link_to "|   Sign out  |", destroy_admin_session_path, method: :delete , :class=> "text-light "%>  | 
      </li>
      <li class="nav-item">
           <%= link_to "|  My account  |", edit_admin_registration_path, :class=> "text-light " %>
      </li>
    </ul>
    <%end %>

  </div>
</nav>

    <%= yield %>
  </body>
</html>
